#bedroom{
  height: 550px; 
  width: 800px; 
  background-color: #E0E0E0; 
  margin: auto;
  position: relative;
}

.bed{
  height:350px; 
  width: 200px; 
  background-color: #5C85D6; 
  position: absolute;
  top: 20px;
  font-size: 15px;
 }


.window {
  height: 25px; 
  width: 200px; 
  background-color: #FF9999; 
  position: absolute;
  left: 320px; 
  top: 0px;
  font-size: 15px;
}


.desk{
  height: 250px; 
  width: 164px;
  background-color: #7AC47A; 
  position: absolute;
  top: 80px;
  left: 636px;
  font-size: 15px;
 }


.door{
  height:30px; 
  width: 200px; 
  background-color: #FFB266; 
  position: absolute;
  top: 520px;
  left: 320px;
  font-size: 15px;
 }


.dresser{
  height:50px; 
  width: 200px; 
  background-color: #444444; 
  position: absolute;
  top: 30px;
  left: 320px;
  font-size: 15px;
 }


#seal {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 80px; 
  height: 80px;
  background: radial-gradient(circle, #FFC0CB 30%, #FF69B4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 0px 10px #FF1493;
  transform: rotate(180deg);
  font-size: 32px;
}